{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Leave your message{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="handle">What's your name?</label>
      <br>
      <input name="handle" id="handle">
      <br><br>
      <label for="message">What message do you have for Linqiao?</label>
      <br>
      <input type="text" name="message" id="message">
      <br><br>
      <input type="submit" value="Submit message">
  </form>

  {% if thanks %}
    <br>
    Thanks for posting your message!
  {% endif %}

  {% if error %}
    <br>
    Sorry, we couldn't read it. Please submit a vaild input.
  {% endif %}
{% endblock %}
